html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background: #000;
  background-image: radial-gradient(ellipse, #0000 20%, #0004 40%, #000 65%),
    repeating-linear-gradient(to bottom, transparent 0 75px, #555 75px 76px),
    repeating-linear-gradient(to right, transparent 0 75px, #555 75px 76px),
    radial-gradient(ellipse 500px 600px at 50% 60%, #143071, transparent),
    radial-gradient(circle 300px at 40% 40%, #8e1765, transparent);
  animation: move 2.5s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 0, -75px -75px, -75px -75px, 0 0, 0 0;
  }
}

